@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-Regular.woff2') format('woff2'),
      url('../font/PTSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-Bold.woff2') format('woff2'),
      url('../font/PTSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../font/Ubuntu-Bold.woff2') format('woff2'),
      url('../font/Ubuntu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Semibold.woff2') format('woff2'),
      url('../font/OpenSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Belinda';
  src: url('../font/Belinda.woff2') format('woff2'),
      url('../font/Belinda.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('../font/Cabin-Regular.woff2') format('woff2'),
      url('../font/Cabin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('../font/Nexa-Heavy.woff2') format('woff2'),
      url('../font/Nexa-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('../font/NexaRegular.woff2') format('woff2'),
      url('../font/NexaRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

